#Global
project_prefix = "prefix"

#Azure INFRA
azure_region = "southeastasia"

#Assets
nic = false
nap = false
bigip = false
bigip-cis = false
aks-cluster = false
azure-vm = false
vm_public_ip = false

