name: "AWS XC Cloud Credentials Destroy"

on:
  push:
    branches:
      - aws-cloud-credentials
  workflow_dispatch:
    inputs:
      TF_CLOUD_WORKSPACE_AWS_CREDENTIALS:
        description: "TF Cloud Workspace (optional)"
        required: false
        type: string
  workflow_call:
    inputs:
      TF_CLOUD_WORKSPACE_AWS_CREDENTIALS:
        description: "TF Cloud Workspace"
        required: false
        type: string
    secrets:
      TF_API_TOKEN:
        required: true
      TF_CLOUD_ORGANIZATION:
        required: true
      XC_API_P12_FILE:
        required: true
      XC_P12_PASSWORD :
          required: true
      XC_API_URL:
        required: true
      AWS_ACCESS_KEY:
        required: true
      AWS_SECRET_KEY:
        required: true
      AWS_SESSION_TOKEN:
        required: true

jobs:
  aws_credentials:
    name: "AWS Cloud Credentials"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: "./f5/xc/aws-cloud-credentials"
    env:
      TF_VAR_name: "aws-cloud-credentials"
      TF_VAR_prefix: ""
      TF_CLOUD_WORKSPACE_AWS_CREDENTIALS: "aws-cloud-credentials"
      VOLT_API_URL: ${{ secrets.XC_API_URL }}
      VOLT_API_P12_FILE: "./api.p12"
      VES_P12_PASSWORD: ${{ secrets.XC_P12_PASSWORD }}
      AWS_ACCESS_KEY: ${{ secrets.AWS_ACCESS_KEY }}
      AWS_SECRET_KEY: ${{ secrets.AWS_SECRET_KEY }}
      AWS_SESSION_TOKEN: ${{ secrets.AWS_SESSION_TOKEN }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          repository: f5shemyakin/f5-xc-terraform-examples
          ref: workflows-dev

      - id: apply_variables
        uses: "f5shemyakin/f5-xc-terraform-examples/.github/actions/apply-variables@workflows-dev"
        with:
          vars_json: "${{ toJSON(vars) }}"
          vars_prefix: "AWSCC_TF_VAR_"
          inputs_json: "${{ toJSON(inputs) }}" 

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}

      - name: Setup Terraform Backend
        id: backend
        run: |
          echo "${{secrets.XC_API_P12_FILE}}" | base64 -d > api.p12
          echo VOLT_API_P12_FILE="$PWD/api.p12" >> "$GITHUB_ENV"

          cat > backend.tf << EOF
          terraform {
            cloud {
              organization = "${{ secrets.TF_CLOUD_ORGANIZATION }}"
              workspaces {
                name = "$TF_CLOUD_WORKSPACE_AWS_CREDENTIALS"
              }
            }
          }
          EOF
          
      - name: Terraform Init
        id: init
        run: terraform init
      
      - name: Terraform Destroy
        id: destroy
        run: terraform destroy -auto-approve -input=false
